﻿@model MyTanoda.Web.Models.Diak
@{
    ViewBag.Title = "DiakDetails";
}

<h2>Datasheet of one Diak</h2>

@Html.ActionLink("Back to the list", "Index");

<table>
    <tr>
        <td>Diak ID</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Nev)</td>
        <td>@Html.DisplayFor(m => m.Nev)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Nem)</td>
        <td>@Html.DisplayFor(m => m.Nem)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.SzuletesiDatum)</td>
        <td>@Html.DisplayFor(m => m.SzuletesiDatum)</td>
    </tr>
</table>