﻿@model MyTanoda.Web.Models.DiakokViewModel
@{
    ViewBag.Title = "Diak Index";
}

<h2>Diak Index</h2>

<p style="color:red;font-weight:bold">@TempData["editResult"]</p>

@Html.Partial("DiakEdit", Model.EditedDiak)

@Html.Partial("DiakList", Model.ListofDiakok)
