﻿@model IEnumerable<MyTanoda.Web.Models.Diak>

<h2>List of Diak</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database!</p>
}
else
{
<table border="1">
    <tr>
        <th>@Html.DisplayNameFor(m=>m.First().Id))</th>
        <th>@Html.DisplayNameFor(m=>m.First().Nev))</th>
        <th>@Html.DisplayNameFor(m=>m.First().SzuletesiDatum))</th>
        <th>Datasheet</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@Html.DisplayFor(m => item.Id) </td>
    <td>@Html.DisplayFor(m => item.Nev)</td>
    <td>@Html.DisplayFor(m => item.SzuletesiDatum)</td>
    <td>@Html.ActionLink("[SHOW]", "Details", new { Id = item.Id })</td>
    <td>@Html.ActionLink("[DEL]", "Remove", new { Id = item.Id })</td>
    <td>@Html.ActionLink("[EDIT]", "Edit", new { Id = item.Id })</td>
</tr>
    }
</table>
}