﻿@model MyTanoda.Web.Models.Diak

<h2>Edit one Diak</h2>

@using (Html.BeginForm("Edit", "Diak"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()
    //CSRF = Cross Site Request Forgery

    @Html.HiddenFor(m=>m.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());


    <div class="editor-label">@Html.LabelFor(m => m.Nev)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Nev)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Nem)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Nem)</div>

    <div class="editor-label">@Html.LabelFor(m => m.SzuletesiDatum)</div>
    <div class="editor-field">@Html.EditorFor(m => m.SzuletesiDatum)</div>

    <input type="submit" value="SEND" />
}